---
layout: default
title: PHP-PB
---

<div class="posts list">
	{% for post in paginator.posts %}
	  <div class="post item">	
	  	<div class="info">
	  		<a href="/tag/{{post.categories | first | slugize }}.html" class="category">#{{ post.categories | first }}</a>
	  		<a href="{{ post.url }}" class="title">{{ post.title }}</a>
	  	</div>
	  	<div class="description">
  			{{ post.excerpt }}
	  	</div>
	  	<div class="meta">
	  		<div class="row">
	  			<div class="author"><i class="icon-user"></i> {{ post.author }}</div>
				<div class="date right"><i class="icon-calendar"></i> {{ post.date | date: "%-d/%m/%y" }}</div>
	  		</div>
	  		<div class="row">
	  			<div class="comments"><i class="icon-comments"></i> </div>
	  		</div>
	  	</div>
	  </div>
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination horizontal list">
	<center>
		<div class="menu">
			<div class="item"><i class="icon-left-open"></i></div>
			{% for page in (1..paginator.total_pages) %}
			<div class="item {% if page == paginator.page %}active{% endif %}">{{ page }}</div>
			{% endfor %}
			<div class="item"><i class="icon-right-open"></i></div>
		</div>
	</center>
</div>
{% endif %}